/* Pied de page */
#logo {
	height:4em;
	width:4em;
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 0.3em;
}

#footer {
	background-color:white;
	bottom:0em;
	width:100%;
	position:fixed;
	color:black;
	font-size:0.7em;
	border-top:0.5em white solid;
}

#footer  > * {
	display: inline-block;
	vertical-align: middle;
}
			


			
/* Page accueil */

#fond1{
	background-image:url("img/fond1.jpg");
	background-repeat: no-repeat ;
	padding-bottom:2em;
	
	background-size: cover;
}

#fond2{
	background-color:#2ABC9B;
	padding-top:2em;
	padding-bottom:2em;
}

#fond3{
	background-color:#99D1CB;
	padding-top:2em;
	padding-bottom:2em;
}






.accueil {
	text-align:center;
	color:white;
	font-family:arial;
}

#logo2{
	height:10em;
	width:10em;	
}

#barre{
	height:0.1em;
}

.titre {
	font-weight: bold;
	padding-bottom:0.5em;
	font-size:1.5em;
}


#cases {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap
}

.case {
	border: 0.05em white dotted;
	padding:0.6em;
	margin-bottom:2em;
	margin-top:2em;
	width:13em;

}

.chiffre {
	font-weight: bold;
	font-size:4em;
}




