/* Pied de page */
#logo {
	height:4em;
	width:4em;
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 0.3em;
}

#footer {
	background-color:white;
	text-align: center;
	bottom:0em;
	width:100%;
	position:fixed;
	color:black;
	font-size:0.7em;
	border-top:0.5em white solid;
}

#footer  > * {
	display: inline-block;
	vertical-align: middle;
}
			
/* En-tête */
.material-icons {
	color:black;
}
	

#titre {
  color : black;
  font-family: arial;
  font-size: 30px;
  margin-left : 14px;
}



 /*Page contact */	

#fondcontact{
	/*background-color:#ffe082;*/
	background-color:#F5F5F5;
	padding-top:3em;
	width:50%;	
    margin-left: auto;
    margin-right: auto;
	line-height:1em;

}

.conta {
	text-align:center;
	color:black;
	font-family:arial;
	font-size:1em
}

#scuio {
	width:10em;	
	margin-top:1.5em;
	margin-bottom:1em;
}
	
.titre3 {
	font-weight: bold;
	font-size:2.5em;
}	

.adr {
	font-weight: bold;
}


	
	
/* Page accueil */
#fond1{
	background-image:url("img/fond1.jpg");
	background-repeat: no-repeat ;
	padding-bottom:3em;
	height : 500px;
	padding-bottom:3em;
	background-size: cover;
}

#fond2{
	background-color:#2ABC9B;
	padding-top:4em;
	height : 500px;
	padding-bottom:3em;
}

#fond3{
	background-color:#99D1CB;
	padding-top:6em;
	height : 500px;
	padding-bottom:3em;
}

#fond4{
	background-color:#A486B9;
	padding-top:3em;
	height : 500px;
	padding-bottom:3em;
}

#fond5{
	background-color:#F4BE40;
	padding-top:3em;
	height : 500px;
	padding-bottom:3em;
}

#fond5{
	background-color:#F4BE40;
	padding-top:3em;
	height : 500px;
	padding-bottom:3em;
}

#fond6{
	background-color:#DF5E4F;
	padding-top:3em;
	height : 500px;
	padding-bottom:3em;
}



.accueil {
	text-align:center;
	color:white;
	font-family:arial;
}

#logo2{
	height:10em;
	width:10em;	
}

#barre{
	height:0.1em;
}

.titre {
	font-weight: bold;
	padding-bottom:0.5em;
	font-size:1.5em;
}

.titre2 {
	font-weight: bold;
	padding-bottom:0.5em;
	font-size:2em;
}

#cases {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap
}

.case {
	border: 0.05em white dotted;
	padding:0.6em;
	margin-bottom:2em;
	margin-top:2em;
	width:12.5em;

}

.chiffre {
	font-weight: bold;
	font-size:3.5em;
}

.tete{
	font-size:0.7em;
}

#carte {
	width:50em;	
	margin-top:1.5em;
	margin-bottom:1em;

	box-shadow: -1em -1em .3em #8A63A5;
}

#rech {
	width:50em;	
	margin-top:1.5em;
	margin-bottom:1em;
	box-shadow: -1em -1em .3em #DFA00D;
}

#rec {
	width:50em;	
	margin-top:1.5em;
	margin-bottom:1em;
	box-shadow: -1em -1em .3em #D73A27;
}

#trouve {
	width:40em;	
	margin-top:1.5em;
	margin-bottom:1em;
	box-shadow: -1em -1em .3em #D73A27;
}